<!DOCTYPE html>
<html>
<% content_for :title, "A propos" %>
<% content_for :meta_description, "Description des activités d'ESPEREN" %>

<!-- card -->

<div class="container card-container">
            <div class="col-md-10">
                <div class="card">
                    <img src="<%= asset_path('plaquette_pres.png') %>" class="card-img-top" alt="plaquette projet">
                </div>
            </div>
</div>

</body>
</html>

            
