<!DOCTYPE html>
<% content_for :title, "Accueil" %>
<% content_for :meta_description, "Page d'accueil ESPEREN" %>

<body>
<!-- bannière -->
<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">ESPEREN</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Organisation non gouvernementale à impact social et environnemental, Espero Bretagne a vu le jour en 2023 pour soutenir l'insertion et valoriser les savoir-faire des artisan.es exilé.es en Bretagne. Elle promeut l'excellence, le Made in France et la durabilité dans chacune de ses activités.
        </p>
    </div>
</div>

<!-- cards -->

<div class="container card-container">
        <div class="col-md-4">
            <div class="card">
                <img src="<%= asset_path('photo_atelier_2.jpg') %>" class="card-img-top" alt="photo atelier 2">
            <div class="card-body">
                <h5 class="card-title">Le projet</h5>
                <p class="card-text" style="white-space: pre-line;">
                Génèse et projet de réinsertion.
                Photo: Thomas Crabot &copy;
                </p>
                <a href="/static_pages/about" class="btn btn-secondary">En savoir plus</a>
            </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <img src="<%= asset_path('photo_atelier_1.jpg') %>" class="card-img-top" alt="photo atelier 1">
            <div class="card-body">
                <h5 class="card-title">L'atelier</h5>
                <p class="card-text" style="white-space: pre-line;">
                Activités et fonctionnement de l'atelier.
                Photo: Thomas Crabot &copy;
                </p>
                <a href="/static_pages/prestations" class="btn btn-secondary">En savoir plus</a>
            </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="<%= asset_path('photo_atelier_3.jpg') %>" class="card-img-top" alt="photo atelier 3">
            <div class="card-body">
                <h5 class="card-title">L'équipe</h5>
                <p class="card-text" style="white-space: pre-line;">
                    L'équipe.
                    Photo: Thomas Crabot &copy;
                </p>
                <a href="/static_pages/team" class="btn btn-secondary">En savoir plus</a>
            </div>
            </div>
        </div>
</div>


    </body>

</html>
