<!DOCTYPE html>
<% content_for :title, "Prestations" %>
<% content_for :meta_description, "Liste des prestations d'ESPEREN" %>

<!-- card -->

<div class="container card-container">
            <div class="col-md-10">
                <div class="card">
                    <img src="<%= asset_path('plaquette_presta.png') %>" class="card-img-top" alt="plaquette presta">
                </div>
            </div>
</div>


</body>
</html>

            
