<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container mt-4">
      <!-- Grande carte en haut -->
    
      <div class="row justify-content-center mb-4">
        <div class="col-8">
          <div class="card">
            <img src="<%= asset_path('team_1.jpg') %>" class="card-img-top" alt="photo team_1">
            <div class="card-body">
              <h5 class="card-title">Les premiers salarié·e·s en insertion</h5>
              <p class="card-text">Tatiana, Marietou, ... sont les premiers salarié·e·s à avoir intégrer l'atelier en octobre 2023</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Deux cartes en dessous -->
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <img src="<%= asset_path('Marion.jpeg') %>" class="card-img-top" alt="Marion">
            <div class="card-body">
              <h5 class="card-title">Directrice et porteuse du projet</h5>
              <p class="card-text">Marion Levesque est la directrice et la porteuse du projet Esperen</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="<%= asset_path('CA.png') %>" class="card-img-top" alt="le CA">
            <div class="card-body">
              <h5 class="card-title">Le conseil d'administration</h5>
              <p class="card-text">Voici les 8 membres du CA actuel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const button = document.getElementById('toggle-dyslexia');
    button.addEventListener('click', function() {
        document.body.classList.toggle('dyslexia-mode');
        if (document.body.classList.contains('dyslexia-mode')) {
            button.textContent = 'Désactiver OpenDyslexic';
        } else {
            button.textContent = 'Activer OpenDyslexic';
        }
    });
});
</script>
  </body>
</html>
