<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container mt-4">
      <!-- Grande carte en haut -->
    
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <img src="<%= asset_path('team_1.jpg') %>" class="card-img-top" alt="photo team_1">
            <div class="card-body">
              <h5 class="card-title">Les premiers salarié·e·s en insertion</h5>
              <p class="card-text">Tatiana, Marietou, ... sont les premiers salarié·e·s à avoir intégrer l'atelier en octobre 2023</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Deux cartes en dessous -->
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="<%= asset_path('Marion.jpeg') %>" class="card-img-top" alt="Marion">
            <div class="card-body">
              <h5 class="card-title">Directrice et porteuse du projet</h5>
              <p class="card-text">Marion Levesque est la directrice et la porteuse du projet Esperen</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le conseil d'administration</h5>
              <p class="card-text">Contenu de la carte 2. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
